node_modules/

.env
.env.*
!.env.example
.env.local
.env.*.local
*.pem
*.key

logs/
*.log
npm-debug.log*

coverage/
dist/
build/
.cache/
tmp/
temp/

.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
.cursor/*
